<div class="main-container">
  <p-progressSpinner *ngIf="loading"></p-progressSpinner>
  <main class="form">
    <div class="content">
      <span class="title">Book Tracker</span>
      <div class="formgrid grid content-input">
        <p-toast />
        <div class="col">
          <p-floatlabel>
            <input style="width: 100%;" type="text" pInputText [(ngModel)]="bookTitle" id="bookNameInput" />
            <label htmlFor="bookNameInput">Title<span style="color: red">*</span></label>
          </p-floatlabel>
        </div>
        <div class="col">
          <p-floatlabel>
            <input style="width: 100%;" type="text" pInputText [(ngModel)]="bookAuthor" id="bookAuthorInput" />
            <label htmlFor="bookAuthorInput">Author<span style="color: red">*</span></label>
          </p-floatlabel>
        </div>

        <div class="card col w-full">
          <label style="margin-left: 0.5rem; font-weight: 500; color: rgb(122, 121, 121);">Cover<span
              style="color: red">*</span></label>
          <div style="margin-top: 0.5rem;">
            <p-fileupload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
              (onUpload)="onUpload($event)" [multiple]="false" accept="image/*" maxFileSize="10000000" mode="advanced">
              <ng-template #empty>
                <div>Drag and drop files to here to upload.</div>
                <div style="font-size: medium;font-style: italic;color: brown;">Don't forget to click upload.</div>
              </ng-template>
              <ng-template #content>
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                </ul>
              </ng-template>
            </p-fileupload>
          </div>
        </div>

        <div class="col">
          <p-floatlabel>
            <textarea rows="5" cols="50" [style]="{ resizable: 'none', width: '100%' }" pTextarea
              [(ngModel)]="bookComment" id="bookCommentInput"></textarea>
            <label htmlFor="bookCommentInput">Comment</label>
          </p-floatlabel>
        </div>

        <div class="col card flex justify-center">
          <label style="margin-left: 0.5rem; font-weight: 500; color: rgb(122, 121, 121);">Rating<span
              style="color: red">*</span></label>
          <p-rating [(ngModel)]="bookRating" style="margin-top: 0.5rem;" stars="5">
          </p-rating>
        </div>
        <div class="col">
          <p-button [style]="{'margin-right': '10px'}" outlined="true" label="Clear Form"
            (onClick)="clearForm()"></p-button>
          <p-button label="Add Book" (onClick)="addBook()"
            [disabled]="!bookComment || !bookTitle || !bookCover || !bookRating || !bookAuthor"></p-button>

        </div>
      </div>
    </div>
  </main>
  <main class="list">
    <div class="content">
      <span class="header">Books</span>
      <div style="justify-items: center; height: 100%; overflow-y: auto;">
        <div *ngFor="let book of books">
          <div
            style="width: 18vw; border: 1px solid #ffffff; background-color: #ffffff; border-radius: 4px; overflow: hidden; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
            <div class="p-col-12" style="height: 150px;">
              <img [src]="book.cover" alt="Book Picture" style="width: 100%; height: 100%; object-fit: cover;">
            </div>
            <div class="p-col-12 p-2" style="padding: 15px;">
              <div class="p-mb-2">
                <h3 class="p-m-0">{{book.title}}, <span style="font-size: medium; font-style: italic; font-weight: normal;" class="p-m-0 italic">{{book.author}}</span></h3>
                <p class="p-m-0" style="color: #757575; font-size: 0.9em;">{{book.comment}}</p>
              </div>
              <div class="p-d-flex p-ai-center p-jc-between">
                <div>
                  <p-rating [(ngModel)]="book.rating" stars="5" [readonly]="true">
                  </p-rating>
                </div>
                <button pButton [outlined]="true" label="Edit Book" style="margin-top: 20px"
                  class="p-button-primary justify-center" (click)="openEditDialog(book)"></button>
                <p-button [rounded]="true" [outlined]="true" icon="pi pi-trash"
                  [style]="{'margin-top': '20px', 'margin-right': '10px', 'margin-bottom': '10px', 'float': 'right'}" severity="danger"
                  class="justify-center" (click)="deleteBook(book)" [disabled]="loading"></p-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<router-outlet />

<p-dialog [(visible)]="editDialogVisible" [header]="'Edit Book'" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="content">
    <div class="formgrid grid content-input">
      <div class="col">
        <p-floatlabel>
          <input style="width: 100%;" type="text" pInputText [(ngModel)]="editBook.title" id="editBookNameInput" />
          <label htmlFor="editBookNameInput">Book Name</label>
        </p-floatlabel>
      </div>
      <div class="col">
        <p-floatlabel>
          <input style="width: 100%;" type="text" pInputText [(ngModel)]="editBook.author" id="editBookAuthorInput" />
          <label htmlFor="editBookAuthorInput">Author</label>
        </p-floatlabel>
      </div>

      <div class="card col w-full">
        <label style="margin-left: 0.5rem; font-weight: 500; color: rgb(122, 121, 121);">Cover</label>
        <div style="margin-top: 0.5rem;">
          <p-fileupload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
            (onUpload)="onEditUpload($event)" [multiple]="false" accept="image/*" maxFileSize="10000000"
            mode="advanced">
            <ng-template #empty>
              <div>Drag and drop files to here to upload.</div>
              <div style="font-size: medium;font-style: italic;color: brown;">Don't forget to click upload.</div>
            </ng-template>
            <ng-template #content>
              <ul *ngIf="uploadedEditFiles.length">
                <li *ngFor="let file of uploadedEditFiles">{{ file.name }} - {{ file.size }} bytes</li>
              </ul>
            </ng-template>
          </p-fileupload>
        </div>
      </div>

      <div class="col">
        <p-floatlabel>
          <textarea rows="5" cols="40" [style]="{ resizable: 'none', width: '100%' }" pTextarea
            [(ngModel)]="editBook.comment" id="editBookCommentInput"></textarea>
          <label htmlFor="editBookCommentInput">Comment</label>
        </p-floatlabel>
      </div>

      <div class="col card flex justify-center">
        <label style="margin-left: 0.5rem; font-weight: 500; color: rgb(122, 121, 121);">Rating</label>
        <p-rating [(ngModel)]="editBook.rating" style="margin-top: 0.5rem;" stars="5">
        </p-rating>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="Update" (onClick)="updateBook()"></p-button>
    <p-button icon="pi pi-times" label="Cancel" (onClick)="editDialogVisible = false"
      styleClass="p-button-secondary"></p-button>
  </ng-template>
</p-dialog>